<div class='container px-4 m-auto'>
  <header class='flex items-center w-full mt-2 mb-4'>
    <a href='/'>
      <div class='border border-gray-400 rounded-full p-2 border-solid'>
        <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'>
          <path
            fill-rule='evenodd'
            d='M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z'
            clip-rule='evenodd'
          ></path>
        </svg>
      </div>
    </a>
    <div class='flex-grow'>
      <a href='/home.html'>
        <h1 class='text-2xl font-bold text-center'>{{course.title}}</h1>
      </a>
    </div>
  </header>
  <main>
    <img class='w-full' src='/images/illustration.png' alt='' />
    <div class='flex flex-row-reverse mt-6'>
      <span class='bg-blue-400 text-white px-3 py-1 rounded-full'>$
        {{course.price}}</span>
    </div>
    <h4 class='text-2xl mt-4 font-medium'>About the course</h4>
    <p class='text-sm mt-1'>
      {{course.description}}
    </p>
    <h5 class='text-xl mt-4 font-medium'>Duration</h5>
    <p class='text-sm mt-1'>{{course.duration}}</p>
    <button class='btn mt-14 w-full'>Add to cart</button>
  </main>
</div>