<div class="container m-auto">
  <header class="flex items-center w-full mt-2 mb-3">
    <div class="flex-grow">
      <p class="font-sans text-base">Hola:</p>
      <h1 class="text-3xl font-bold">
        {{name}}
      </h1>
    </div>
    <a class="border border-gray-400 rounded-full p-2 border-solid" href="/course/add">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
      </svg>
    </a>
  </header>
  <section class="mb-5">
    <input class="w-full mb-3" type="text" placeholder="Search course" />
    <p class="text-sm overflow-visible">
      Category:
      <span class="bg-blue-400 text-white px-3 py-1 rounded-full">#css</span>
      <span class="bg-blue-400 text-white px-3 py-1 rounded-full">#ux</span>
      <span class="bg-blue-400 text-white px-3 py-1 rounded-full">#Swift</span>
      <span class="bg-blue-400 text-white px-3 py-1 rounded-full">#ui</span>
    </p>
  </section>
  <main class="flex flex-col gap-y-4">
    {{#each courses}}
      {{> card this}}
    {{/each}}
    <div class="h-28"></div>
  </main>
  <nav
    class="fixed bottom-0 left-0 w-full flex justify-evenly border border-solid border-gray-400 rounded-t-2xl bg-white p-4 h-24 text-gray-300"
  >
    <div class="flex flex-col items-center gap-y-2 navbar-item-active">
      <svg
        width="24"
        height="24"
        viewBox="0 0 21 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.35714 0C3.15714 0 2.98571 0.025 2.81429 0.075C1.7 0.275 0.814286 1.05 0.585714 2.025C0.5 2.175 0.5 2.325 0.5 2.5V16.25C0.5 18.325 2.41429 20 4.78571 20H20.5V17.5H4.78571C3.98571 17.5 3.35714 16.95 3.35714 16.25C3.35714 15.55 3.98571 15 4.78571 15H20.5V1.25C20.5 0.55 19.8714 0 19.0714 0H17.6429V7.5L14.7857 5L11.9286 7.5V0H3.35714Z"
          fill="currentColor"
        ></path>
      </svg>
      <p>Courses</p>
    </div>
    <div class="navbar-item">
      <svg
        width="24"
        height="24"
        viewBox="0 0 21 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18.0044 14.2209C16.4247 13.4095 17.0334 14.0302 15.0941 13.2001C13.155 12.3713 12.6956 12.1003 12.6956 12.1003L12.6784 10.1991C12.6784 10.1991 13.4047 9.62995 13.6312 7.83198C14.0847 7.96748 14.2381 7.2832 14.2628 6.84604C14.2897 6.42373 14.5309 5.10743 13.9762 5.22487C14.0897 4.34604 14.1787 3.55143 14.1387 3.13073C14 1.65441 13.0112 0.112595 10.5153 0C8.39344 0.112595 7.01594 1.65537 6.87687 3.13169C6.83687 3.55239 6.91844 4.34637 7.03187 5.2268C6.4775 5.10776 6.71625 6.42664 6.74062 6.84863C6.7675 7.28578 6.9175 7.972 7.37187 7.83649C7.5975 9.63479 8.32375 10.2081 8.32375 10.2081L8.30562 12.1196C8.30562 12.1196 7.84625 12.409 5.90719 13.2378C3.96812 14.0683 4.57625 13.4098 2.99656 14.2209C0.5 15.5033 0.5 19.0299 0.5 19.0299C0.5 19.5667 0.919687 20 1.4375 20H19.5625C20.0803 20 20.5 19.5667 20.5 19.0321C20.5003 19.0299 20.5003 15.5026 18.0044 14.2209Z"
          fill="currentColor"
        ></path>
      </svg>

      <p>Profile</p>
    </div>
    <div class="navbar-item">
      <svg
        width="25"
        height="24"
        viewBox="0 0 25 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0)">
          <path
            d="M23.6 10.208L22.304 10.078C22.217 9.629 22.099 9.188 21.954 8.762L23.01 8.003C23.428 7.702 23.55 7.138 23.292 6.691L22.494 5.31C22.237 4.864 21.688 4.687 21.217 4.898L20.035 5.432C19.736 5.089 19.412 4.765 19.069 4.466L19.603 3.283C19.814 2.813 19.637 2.264 19.191 2.006L17.81 1.209C17.362 0.951 16.799 1.073 16.498 1.491L15.739 2.547C15.313 2.401 14.872 2.284 14.423 2.197L14.293 0.901C14.241 0.387 13.813 0 13.297 0H11.702C11.186 0 10.758 0.387 10.707 0.9L10.577 2.196C10.128 2.283 9.687 2.401 9.261 2.546L8.502 1.491C8.202 1.073 7.638 0.951 7.19 1.209L5.81 2.006C5.363 2.264 5.186 2.813 5.398 3.284L5.932 4.466C5.588 4.765 5.265 5.088 4.966 5.432L3.783 4.897C3.313 4.686 2.764 4.863 2.506 5.31L1.709 6.69C1.451 7.138 1.573 7.702 1.991 8.002L3.047 8.761C2.901 9.187 2.784 9.628 2.697 10.077L1.401 10.207C0.887 10.259 0.5 10.687 0.5 11.203V12.798C0.5 13.314 0.887 13.742 1.4 13.793L2.696 13.923C2.783 14.372 2.901 14.813 3.046 15.239L1.99 15.998C1.572 16.299 1.45 16.863 1.708 17.31L2.505 18.691C2.763 19.138 3.313 19.316 3.782 19.103L4.964 18.569C5.263 18.912 5.587 19.236 5.93 19.535L5.396 20.718C5.185 21.188 5.362 21.737 5.808 21.995L7.189 22.792C7.637 23.051 8.201 22.929 8.501 22.51L9.26 21.454C9.686 21.6 10.127 21.717 10.576 21.804L10.706 23.1C10.759 23.613 11.187 24 11.703 24H13.298C13.814 24 14.242 23.613 14.293 23.1L14.423 21.804C14.872 21.717 15.313 21.599 15.739 21.454L16.498 22.51C16.799 22.928 17.361 23.049 17.81 22.792L19.191 21.995C19.637 21.737 19.815 21.188 19.603 20.718L19.069 19.536C19.412 19.237 19.736 18.913 20.035 18.57L21.218 19.104C21.688 19.315 22.238 19.139 22.495 18.692L23.292 17.311C23.55 16.864 23.428 16.3 23.01 15.999L21.954 15.24C22.1 14.814 22.217 14.373 22.304 13.924L23.6 13.794C24.113 13.741 24.5 13.313 24.5 12.797V11.202C24.5 10.687 24.113 10.259 23.6 10.208ZM12.5 5C16.019 5 18.932 7.613 19.42 11H14.788C14.401 10.119 13.523 9.5 12.5 9.5C12.407 9.5 12.318 9.518 12.227 9.528L9.905 5.504C10.708 5.182 11.583 5 12.5 5ZM5.5 12C5.5 9.773 6.549 7.79 8.174 6.507L10.493 10.523C10.187 10.939 10 11.446 10 12C10 12.554 10.187 13.061 10.493 13.476L8.174 17.492C6.549 16.209 5.5 14.227 5.5 12ZM12.5 19C11.583 19 10.708 18.818 9.905 18.495L12.228 14.472C12.318 14.482 12.407 14.5 12.5 14.5C13.523 14.5 14.401 13.881 14.788 13H19.42C18.932 16.387 16.019 19 12.5 19Z"
            fill="currentColor"
          ></path>
        </g>
        <defs>
          <clipPath id="clip0">
            <rect
              width="24"
              height="24"
              fill="white"
              transform="translate(0.5)"
            ></rect>
          </clipPath>
        </defs>
      </svg>

      <p>Setting</p>
    </div>
  </nav>
</div>
<script src="/js/main.js"></script>