.login-image {
  display: block;
  width: 343px;
  margin-top: 52px;
}

.header {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1px;
  line-height: 105%;
}

.subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.312rem;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
